<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853638291380-f5hge14thbn9pmspctc9r2cve1520bpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853638291380-f5hge14thbn9pmspctc9r2cve1520bpb</string>
	<key>API_KEY</key>
	<string>AIzaSyClwKDoz2U7qMbGp8GmZmODxctvM9FOsv4</string>
	<key>GCM_SENDER_ID</key>
	<string>853638291380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryamansingh.eeScheduleriOS</string>
	<key>PROJECT_ID</key>
	<string>ee-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>ee-scheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853638291380:ios:1294fa53e675d142</string>
	<key>DATABASE_URL</key>
	<string>https://ee-scheduler.firebaseio.com</string>
</dict>
</plist>